*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #ca021c, #cc011f);
    background-repeat: no-repeat ;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    
}

.conteudo h1{
    color: aliceblue;
    font-size: 3rem;
    margin-left: 30px;
}

.conteudo p {
    color: aliceblue;
    text-align: center;
}

.conteudo input{
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 40px;
    border-style: none;
    background: whitesmoke;
    cursor: pointer;
    color: black;
    font-size: 1.1rem;
    width: 200px;
    height: 40px;
    
}

.produto img {
    margin-right: 30px;
    width: 600px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 10px 10px 20px #830011;
}